/*
    main text color: #3f3f3f
    secondary text color: #4f4f4f
    main button color: rgba(0,0,0,0.4)
*/

label, entry
{
    color:#3f3f3f;
}

#txtUsername, #txtPassword
{
    font-size: 20;
    -maui-placeholder-color: #3f3f3f;
}

#lblTitle
{
    font-size: 35;
    font-weight: bolder;
    color: black;
}

^contentpage 
{
    background-image: src(../../Images/logintavern.png);
    padding: 30;
}

button 
{
    background-color: rgba(0,0,0,0.4);
    color: white;
    margin-bottom: 40;
}

verticalstacklayout {
    padding: 10;
}