/*
    main text color: #3f3f3f
    secondary text color: #4f4f4f
    main button color: rgba(0,0,0,0.4)
*/

label 
{
    color: #3f3f3f;
}

^contentpage
{
    background-image:src("../../Images/tavern.png");
}

#Name {
    font-size: 35;
    border: 40 0 20 0;
    padding: 10;
    font-weight: bolder;
}
#Bio {
    font-size: 15;
    color: #4f4f4f;
    padding: 10;
    border: 20;
}

^contentpage>verticalstacklayout
{
    border: 20;
    padding: 10;
}

#FriendsList, #GroupList, #BlockedUsersList, #TagsList
{
    border: 10;
    margin-top: 20;
    padding: 10;
}

#FriendsList>label, #GroupList>label, #BlockedUsersList>label, #TagsList>label
{
    font-size: 20;
}


#ProfileEdit
{
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    font-size:20;
    padding: 5 10 5 10;
    border: 10;
    margin-top: 10;
}

