#Name
{
    font-size: 35;
    border: 40 0 20 0;
    padding: 10;
    background-color: #432900;
    font-weight: bolder;
}
#Bio
{
    font-size: 15;
    color: white;
    padding: 10;
    border: 20;
    background-color: #432900;
}

^contentpage>verticalstacklayout
{
    background-color: #331900;
    border: 20;
    padding: 10;
}

label {
    color: white;
}

#FriendsList
{
    background-color: #432900;
    border: 10;
    margin-top: 20;
    padding: 10;
}

#FriendsList label
{
    font-weight: bold;
    font-size: 25;
}

#friend
{
    font-weight:normal;
    font-size: 15;
}